* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  header {
    background-color: white;
    opacity: 0.8;
  }

  .nav-link {
    color: black;
    text-decoration: none;
    transition: 0.7s ease;
  }

  .hamburger {
    display: block;
  }

  .bar {
    display: block;
    width: 24px;
    height: 4px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6070ff;
  }

  .navbar {
    min-height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-link:hover {
    color: #6070ff;
  }

  .nav-menu li {
    list-style: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: left;
    transition: 0.3s;
  }

  .nav-content {
    margin: 16px;
  }

  .nav-menu.active {
    left: 0;
  }

  .section-a-container{
    background-color: white;
    background-position: center;
    background-size: cover;
  }
}

.logo {
  color: #6070ff;
  font-weight: 700;
  text-decoration: none;
  animation-name: mylogo;
  animation-duration: 3s;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}

@keyframes mylogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.section-a {
  background-image: url("pimages/header-background-mobile.png");
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
}

.section-a-container {
  height: 100vh;
  width: 100%;
}

.heading {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 30px;
  padding-top: 10rem;
  color: #091e42;
  padding-left: 30px;
}

.leading {
  font-size: 18px;
  text-align: start;
  margin: 10px 0;
  color: #344563;
  padding-left: 30px;
}

.social-heading {
  color: #6070ff;
  margin-bottom: 8px;
  padding-left: 30px;
}

.socials {
  display: flex;
  list-style: none;
  padding-left: 30px;
}

.socials img {
  padding-right: 15px;
}

.section-b {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f9;
  padding-bottom: 100px;
}

.container-bc img {
  padding: 20px 20px;
  width: 100%;
  transition: width 2s, height 4s;
}

.container-bc img:hover {
  width: 120%;
  height: 100%;
}

.container-bc {
  background-color: white;
  margin-left: 1.2em;
  margin-right: 1.2em;
  justify-self: center;
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid #dfe1e6;
  padding-bottom: 20px;
}

.content ul {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-start;
}

.content {
  padding-left: 20px;
  margin-right: 50px;
}

.content h1 {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.content p {
  text-align: start;
  margin-right: 25px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.content ul li {
  padding-right: 5px;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.content ul li:nth-child(1) {
  list-style: none;
  margin-right: 10px;
  font-weight: 500;
}

.content ul li:nth-child(2) {
  color: #7a869a;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}

.content ul li:nth-child(3) {
  color: #7a869a;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}

.btn {
  border: none;
  text-transform: lowercase;
  padding: 5px 10px;
  color: #6070ff;
  text-decoration: none;
  background-color: #ebebff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}

.btn-div {
  margin: 15px 0;
  list-style: none;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.last-btn {
  border: 1px solid #6070ff;
  padding: 10px 18px;
  border-radius: 10px;
  margin-top: 8px;
  background-color: white;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.last-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.last-btn:active {
  background-color: #2230d2;
  color: white;
}

.section-c {
  background-color: #f7f7f9;
}

.container-c {
  background-color: white;
  border-top-right-radius: 100px;
  padding-left: 30px;
  padding-top: 100px;
  padding-right: 20px;
  margin-bottom: 195px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about {
  font-size: 2.4em;
  padding-bottom: 10px;
  color: #172b4d;
}

.about-div p {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #344563;
}

.m-b {
  margin-top: 20px;
}

.languages {
  padding-top: 50px;
  color: #344563;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.languages-div {
  display: flex;
  align-items: center;
  padding-left: 20px;
  list-style: none;
  margin: 10px;
}

.framework {
  border-bottom: 1.5px solid #dfe1e6;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.skills {
  background-color: #f7f7f9;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
}

.language {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .section-a {
    background-image: url("pimages/bg_desktop.svg");
    background-position: center;
    background-size: 90% 120%;
    background-repeat: no-repeat;
    display: flex;
    padding: 0 14em;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: start;
  }

  header {
    background-color: white;
  }

  .nav-link {
    color: black;
    text-decoration: none;
    transition: 0.7s ease;

  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .nav-link:hover {
    color: #6070ff;
  }

  li {
    list-style: none;
  }

  .btn {
    margin-right: -9px;
  }

  .heading {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    padding-top: 180px;
    color: #091e42;
  }

  .leading {
    font-size: 18px;
    text-align: start;
    margin: 10px 0;
    color: #344563;
  }

  .socials {
    padding-bottom: 140px;
  }

  .section-b {
    display: none;
  }

  .desktop {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f9;
    padding-bottom: 5%;
  }

  .container-bc img {
    width: 100%;
    height: 100%;
  }

  .container-bc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    padding: 1rem 0;
    border-radius: 24px;
  }

  .container-bc > * {
    flex-basis: calc(50% - 20px);
  }

  .ruby {
    padding: 4px 20px;
    margin-right: -1px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: max-content;
  }

  .content ul {
    width: max-content;
    font-size: 18px;
    color: #6b778c;
  }

  .content p {
    /* margin-top: -20px; */
    font-size: 16px;
  }

  .container-c {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
  }

  .about-div {
    padding-left: 50px;
  }

  .languages {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 100px;
  }

  .wrapper {
    display: flex;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 122px;
    align-items: flex-start;
    text-align: start;
  }

  .last-btn {
    width: max-content;
  }
}

@media screen and (min-width: 768px) {
  .container-bc {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-bc > * {
    flex-basis: calc(33.333% - 20px);
  }

  .footer-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  background-color: #6070ff;
  background-image: url(pimages/contact-form-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100px 0 0 0;
  padding: 4rem 1rem;
  gap: 3rem;
  margin-top: 1rem;
}

.lasting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}

.lasting h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.lasting p {
  font-size: 20px;
  font-weight: 400;
  color: #ebebff;
  text-align: center;
}

.form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 1rem;
  width: 25em;
  color: #b3bac5;
}

.footer-btn {
  background: #fff;
  border-radius: 8px;
  width: 142px;
  height: 48px;
  text-align: center;
  padding: 12px 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footer-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.footer-btn:hover {
  background-color: #6070ff;
  color: #fff;
}
