* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: "#e5e5e5";
  overflow: hidden;
}

.container {
  padding: 0 1rem;
}

nav {
  justify-content: space-between;
  height: 72px;
  background-color: white;
  width: 90%;
}

#menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.flexr {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #6070ff;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: auto 0;
}

#header {
  background-image: url("pimages/header-background-mobile.png");
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 217px);
  border-bottom: 2px solid #edebeb;
  border-radius: 0 0 0 100px;
  background-color: #ffff;
  position: relative;
}

.mt {
  padding-top: 140px;
}

section {
  margin: auto;
  width: 100%;
}

section h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

section p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-right: 70px;
}

section h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

div .flexr {
  gap: 2rem;
}
